<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-input style="background: #8c8c8c" #input></ion-input>
  <button ion-button (click)="some(input.value)">Click me!</button>
  <ion-label>{{ some2() }}</ion-label>
</ion-content>
